<app-menubar [showOptionsMenu]="true"></app-menubar>
<main>
  <div id="cards__content">
    <div id="cards__content-title">
      <h3>Visão Geral: {{condominiumName}}</h3>
    </div>
    <div class="card__content" *ngFor="let card of cards; index as i;">
      <div>
        <h4>
          {{card.total}}
        </h4>
        <div>
          <span>{{card.name}}</span>
        </div>
      </div>
      <div>
        <i class="{{card.icon}}"  [style.color]="card.color"></i>
      </div>
    </div>
  </div>
  <div id="charts__content">
    <div class="chart__content-template-one"></div>
    <div class="chart__content-template-two"></div>
    <div class="chart__content-template-one"></div>
    <div class="chart__content-template-two"></div>
  </div>
  <br>
</main>
