#horizontal-menu__content{
  width: 100%;
  height: 70px;
  position: fixed;
  border-bottom: 1px solid #334148;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#user-informations__content{
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}

#user-informations__content > label{
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

#user-informations__content > label > img{
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#user-informations__content > label > img:hover{
  cursor: pointer;
  opacity: .5;
}

#checkbox-user-options{
  display: none;
}

#user-options__content{
  display: none;
  position: fixed;
  top: 70px;
  right: 0;
  background-color: #ffffff;
  width: 15%;
  border-left: 1px solid #334148;
  border-bottom: 1px solid hsl(200, 17%, 24%);
}

#user-options__content > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#user-options__content > div > div{
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-options__content > div > div:hover{
  background-color: #334148;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

#checkbox-user-options:checked ~ #user-options__content {
  display: block;
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.icon{
  margin-left: 10px !important;
}

label[for="checkbox-menu"]{
  display: block;
  margin: 0;
}

label[for="checkbox-menu"] > img:hover{
  cursor: pointer;
}

#checkbox-menu{
  display: none;
}

#vertical-menu__content{
  position: absolute;
  z-index: 1;
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow: hidden;
}

#vertical-menu__content > div{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#vertical-menu__content:hover{
  overflow-y: auto;
  overflow-x: none;
}

#vertical-menu__content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#vertical-menu__content::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#vertical-menu__content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #334148;
  border: 1px solid #334148;
  cursor: pointer;
}

#vertical-menu__content > div{
  background-color: #ffffff;
  color: black;
}

#vertical-menu__content > div > .vertical-menu__item{
  width: 95%;
  color: black;
}

.vertical-menu__item > label,
.vertical-menu__subitem{
  padding: 1em;
  width: 100%;
  height: 100%;
}

.focus-menu-item{
  border-radius: 10px;
  background-color: #334148;
  cursor: pointer;
  color: white;
}

.vertical-menu__item > label:not(.focus-menu-item):hover,
.vertical-menu__subitem:hover{
  border-radius: 10px;
  background-color: #334148;
  font-weight: bold;
  cursor: pointer;
  color: white;
  animation: fadeIn 1s;
}

.vertical-menu__item > div{
  margin-left: 20px;
}

.vertical-menu__subitem > label{
  margin: 0;
}

.vertical-menu__subitem > label:hover{
  cursor: pointer;
}

.vertical-menu__item > .does-not-have-children:hover:before{
  content: "\002D";
}

.vertical-menu__subitem:hover:before{
  content: "\002D\0020";
}

.vertical-menu__subitem{
  display: none;
  background-color: #ffffff;
  color: black;
}

input[name="checkbox_subitem"]{
  display: none;
}

input[name="checkbox_subitem"]:checked ~ div > div > .vertical-menu__subitem{
  display: block;
}

.hide-element{
  opacity: 0;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  #horizontal-menu__content > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
  }

  #horizontal-menu__content > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  #vertical-menu__content{
    display: none;
    width: 30vw;
    margin-left: -30vw;
    background-color: #ffffff;
    color: black;
  }

  #vertical-menu__content > div{
    background-color: #ffffff;
    color: black;
  }

  #checkbox-menu:checked ~ #vertical-menu__content {
    display: block;
    animation: run_1 1s;
    margin-left: 0;
  }

  @keyframes run_1 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-15vw);
    }
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #user-options__content{
    width: 150px;
  }

  #horizontal-menu__content > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }

  #horizontal-menu__content > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  #vertical-menu__content{
    display: none;
    margin-left: -100%;
    background-color: #ffffff;
    color: black;
  }

  #checkbox-menu:checked ~ #vertical-menu__content {
    width: 100% !important;
    display: block;
    animation: run_2 1s;
    margin-left: 0;
  }

  @keyframes run_2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-50%);
    }
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #user-options__content{
    width: 150px;
  }

  #horizontal-menu__content > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }

  #horizontal-menu__content > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  #vertical-menu__content{
    display: none;
    margin-left: -100%;
    background-color: #ffffff;
    color: black;
  }

  #checkbox-menu:checked ~ #vertical-menu__content {
    width: 100% !important;
    display: block;
    animation: run_3 1s;
    margin-left: 0;
  }

  @keyframes run_3 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-50%);
    }
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #user-options__content{
    width: 150px;
  }

  #horizontal-menu__content > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }

  #horizontal-menu__content > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  #vertical-menu__content{
    display: none;
    margin-left: -100%;
    background-color: #ffffff;
    color: black;
  }

  #checkbox-menu:checked ~ #vertical-menu__content {
    width: 100% !important;
    display: block;
    animation: run_4 1s;
    margin-left: 0;
  }

  @keyframes run_4 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-50%);
    }
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #user-options__content{
    width: 150px;
  }

  #horizontal-menu__content > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }

  #horizontal-menu__content > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  #vertical-menu__content{
    display: none;
    margin-left: -100%;
    background-color: #ffffff;
    color: black;
  }

  #checkbox-menu:checked ~ #vertical-menu__content {
    width: 100% !important;
    display: block;
    animation: run_5 1s;
    margin-left: 0;
  }

  @keyframes run_5 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-50%);
    }
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  }
}
