<div id="horizontal-menu">
  <div>
    <div>
      <a href="index.html">
        <img src="/assets/images/svg/deskapp-logo.svg" alt="" class="light-logo" width="180px"/>
      </a>
    </div>
    <div>
      <label for="checkbox-menu" [ngClass]="{'hide-element': !showOptionsMenu}">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAATpJREFUaEPt2LEuRUEUheHvViqdUqIQhadQaiSixkPQkVCQ0PEQqEWiUXoKhSgkSp1KxVVclVwzJ5mbnZk59Z49a63/nJ0zM1LJM6rEh24kGslOpBMplEB/tQoFO7htJzI4ukILmyDyY3IZa1goFGRq23c84gVffy2aRmRzbOQK86m7Fa77GBvZxV2ukSOcFBaX2/4Yp7lGtnGdu1Ph+h3c5BqZwzpWC4tLbf+EB3zmGkndIERdE+M3RNKpIjqR1KRmVdcEkSVcYmtWqf6zzy328Jo7fg9wFsTERMYhzps1soILbAShco99POcSCaI/TUYTUystiiBVnUgQEL8ymiBSzcGqmqNuNZcP1VwHTS7oFoNMqLehF3RB9KfJaGL8pkURpKoTCQKirV+UaKFP1dO/kWi4OpFOpFAC3+7WJTN6vQw0AAAAAElFTkSuQmCC" alt="">
      </label>
    </div>
  </div>
  <div>
  </div>
</div>

<input type="checkbox" id="checkbox-menu">

<nav id="vertical-menu">
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
  </ul>
</nav>


