<div class="login-header box-shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="brand-logo">
            <a href="login.html">
                <img src="/assets/images/svg/deskapp-logo.svg" alt="" />
            </a>
        </div>
    </div>
</div>
<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img id="image-login" src="/assets/images/png/login-page-img.png" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Selecione o perfil de acesso</h2>
                    </div>
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                        <div class="select-role">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn active">
                                    <input type="radio" name="options" id="admin" />
                                    <div class="icon">
                                        <img src="/assets/images/svg/briefcase.svg" class="svg" alt="" />
                                    </div>
                                    <span>Sou um</span>
                                    Administrador
                                </label>
                                <label class="btn">
                                    <input type="radio" name="options" id="user" />
                                    <div class="icon">
                                        <img src="/assets/images/svg/person.svg" class="svg" alt="" />
                                    </div>
                                    <span>Sou um</span>
                                    Morador
                                </label>
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="text" name="username" ngModel required #username="ngModel" class="form-control form-control-lg" placeholder="Usuário" />
                            <div class="input-group-append custom">
                                <span class="input-group-text">
                                    <i class="icon-copy dw dw-user1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="password" name="password" ngModel required #username="ngModel" class="form-control form-control-lg" placeholder="**********" />
                            <div class="input-group-append custom">
                                <span class="input-group-text">
                                    <i class="dw dw-padlock1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row pb-30">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <div class="forgot-password">
                                    <a href="forgot-password.html">Esquece sua senha?</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
