<div class="header" style="width: 100%; position: relative;">
    <div class="brand-logo">
        <a href="index.html">
            <img src="/assets/images/svg/deskapp-logo.svg" alt="" class="light-logo" />
        </a>
    </div>
</div>

<div id="main">
    <div id="search-condominiums">
        <div id="search-condominiums__title">
            <h3>Em qual condomínio você está?</h3>
        </div>
        <div id="search-condominiums__input">
            <div>
                <input type="search">
            </div>
        </div>

        <div id="search-condominiums__empty-result" *ngIf="isEmpty()">
            <div>
                <div>
                    <h3>Oops...</h3>
                </div>
                <div>
                    <p>Parece que você não está vinculado a nenhum condomínio.</p>
                </div>
            </div>
        </div>

        <div id="search-condominiums__result" *ngIf="!isEmpty()">
            <ul>
                <li *ngFor="let condominium of list;">
                    <div>
                        <div>
                            <img src="{{condominium.logo}}" alt="{{condominium.fantasyName}}" width="100px">
                        </div>
                        <div>
                            {{condominium.fantasyName}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>