<app-menubar></app-menubar>

<div id="main">
    <div id="loading" *ngIf="loading">
        <div>
            <h3>Carregando...</h3>
        </div>
        <div>
            <div class="loader"></div>
        </div>
    </div>
    <div id="search-condominiums" *ngIf="!loading">
        <div id="search-condominiums__title">
            <h3>Em qual condomínio você está?</h3>
        </div>
        <div id="search-condominiums__input">
            <div>
                <input type="search">
            </div>
        </div>
        <div id="search-condominiums__empty-result" *ngIf="isEmpty()">
            <div>
                <div>
                    <h3>Oops...</h3>
                </div>
                <div>
                    <p>Parece que você não está vinculado a nenhum condomínio.</p>
                </div>
            </div>
        </div>
        <div id="search-condominiums__result" *ngIf="!isEmpty()">
            <ul>
                <li *ngFor="let condominium of list;" (click)="redirectHome(condominium.id)">
                    <div>
                        <div>
                            <img src="{{condominium.logo}}" alt="{{condominium.fantasyName}}" width="100px">
                        </div>
                        <div>
                            {{condominium.fantasyName}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
